.img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
    cursor: pointer;
}

.img-small {
    width: 70%;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transition: 0.5s;
    cursor: pointer;
}

.exp-small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.exp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.exp:hover .img {
    opacity: 0.3;
}

.exp .img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}
